<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Nom"/>
            </h1>
            <div class="level-xp grid grid-2col">
                <div class="resource">
                    <label>{{localize "MYRPG.Level"}}</label>
                    <input type="number" name="system.level" value="{{system.level}}" min="1" max="25"/>
                </div>
                <div class="resource">
                    <label>XP</label>
                    <input type="number" name="system.xp" value="{{system.xp}}" min="0"/>
                </div>
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <!-- Attributes -->
            <div class="grid grid-3col">
                <div class="attribute">
                    <label>{{localize "MYRPG.AttributeCon"}}</label>
                    <input type="number" name="system.attributes.con" value="{{system.attributes.con}}" min="1" max="10"/>
                </div>
                <div class="attribute">
                    <label>{{localize "MYRPG.AttributeInt"}}</label>
                    <input type="number" name="system.attributes.int" value="{{system.attributes.int}}" min="1" max="10"/>
                </div>
                <div class="attribute">
                    <label>{{localize "MYRPG.AttributeAgi"}}</label>
                    <input type="number" name="system.attributes.agi" value="{{system.attributes.agi}}" min="1" max="10"/>
                </div>
            </div>

            <!-- Resources -->
            <div class="resources grid grid-2col">
                <div class="resource">
                    <label>{{localize "MYRPG.ResourceHP"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.resources.hp.value" value="{{system.resources.hp.value}}" min="0"/>
                        <span> / </span>
                        <input type="number" name="system.resources.hp.max" value="{{system.resources.hp.max}}" disabled/>
                    </div>
                </div>
                <div class="resource">
                    <label>{{localize "MYRPG.ResourceEE"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.resources.ee.value" value="{{system.resources.ee.value}}" min="0"/>
                        <span> / </span>
                        <input type="number" name="system.resources.ee.max" value="{{system.resources.ee.max}}" disabled/>
                    </div>
                </div>
            </div>

            <!-- Defenses -->
            <div class="defenses grid grid-2col">
                <div class="defense">
                    <label>{{localize "MYRPG.DefenseFortitude"}}</label>
                    <input type="number" name="system.defenses.fortitude" value="{{system.defenses.fortitude}}" disabled/>
                </div>
                <div class="defense">
                    <label>{{localize "MYRPG.DefenseEvasion"}}</label>
                    <input type="number" name="system.defenses.evasion" value="{{system.defenses.evasion}}" disabled/>
                </div>
            </div>
        </div>

        <!-- Actions -->
        <div class="actions">
            <button type="button" class="roll-attack-mellee">{{localize "MYRPG.AttackMelee"}}</button>
            <button type="button" class="roll-attack-distance">{{localize "MYRPG.AttackRanged"}}</button>
        </div>
    </section>
</form>
